@import url(http://fonts.googleapis.com/css?family=Neucha);

body, html
{
    margin:0;
    padding:0;
}

#preview_container
{
    position:relative;
    padding:0 250px 0 0;
}

.written
{
    color:#be1818;
    font-family: Neucha;
    font-size:40px;
    position:absolute;
    width:250px;
    right:0;
}
